<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>How to Trash</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<div id='contentContainer'>
  <div class="navBar">
    <nav>
      <a href="http://127.0.0.1:9683" class="navClickables" id="pageHeader">How to Trash</a>
    </nav>
  </div>


  <div class="main" id="main">
    <h2>Image Upload</h2>
    <!-- method="post" action="upload/post" enctype="multipart/form-data"-->
    <form id="imgUploadForm">
      <input type="file" name="image" /><br /><br />
    </form>
    <button id="submitButton" onclick="submitForm()">Upload</button>
    <p id="errorDisplay"></p>
  </div>

  <div class="footer">
    <h4>HackDavis 2020</h4>
    <p>William Wu, Nikos Aghazarian, Danny DeVito, Steph Anie</p>
  </div>
</div>

<script type='text/javascript' src='../javascripts/index.js'></script>
<script type='text/javascript' src='../javascripts/visualization.js'></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>